

body{
    
}


.bloco-code{
    display: flex;
    justify-content: center;
    align-items: center;
}

code{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-size: 105%;
    padding: 2px;
    border-radius: 5px;


}

.text-objeto{
    color: aqua;

}

.text-metodo{
    color: yellow;
}